

#map-container { 
  background: #fff;
  width: 800px;
  height: 620px;
  position: absolute;
  top: 40px;
  right: 0px;
}

#map {
  border: 0px solid #dedede;
  background: #fff;
  height: 100%;
}

#title {
  height: 40px;
  width: 200px;
  position: absolute;
  top: 130px;
  left: 100px;
  text-align: center;
}

#title h5 {
  margin: 0px;
}

#pollution-menu {
  position: absolute;
  top: 46px;
  left: 10px;
  height: 30px;
  width: 780px;
  text-align: center;
}

#pie {
  position: absolute;
  top: 200px;
  left: 10px;
  height: 190px;
  width: 340px;
}

#pie .chart {
  width: 200px;
  height: 100%;
  float: left;
}

#pie .hoverbox {
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left: 20px;
  text-align: center;
  background: #fff;
  color: #333;
}

#pie .legend {
  width: 150px;
  height: 100px;
  position: absolute;
  right: 0;
}

#pie .note {
  position: absolute;
  right: 0;
  top: 100px;
  width: 150px;
  height: 90px;
  font-size: 11px;
  color: #9f9f9f;
  line-height: 11px;
}

#source-menu {
  position: absolute;
  top: 395px;
  left: 10px;
  height: 50px;
}

#source-menu label {
  font-size: 11px;
}

#source-menu select {
  font-size: 12px;
}

#line {
  position: absolute;
  bottom: 50px;
  left: 10px;
  height: 210px;
  width: 445px;
  font-size: 11px;
  background: white;
  padding-top: 5px;
  border: 1px solid #dedede;
}

#line .title {
  height: 30px;
  margin-left: 50px;
  line-height: 13px;
  font-size: 11px;
}

#line .chart {
  margin-top: 0px;
  width: 100%;
  height: 170px;
  float: right;
}

#line .legend {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 400px;
}

#line .legend .legend-item {
  float: right;
  width: 150px;
}

.sample {
  height: 2px;
  width: 40px;
  margin-top: 9px;
  margin-right: 5px;
  float: left;
}
.sample.primary {
  background: #d80000;
  background: -webkit-linear-gradient(left, #fff, #d80000 20%, #d80000 80%, #fff);
}
.sample.secondary {
  background: #006200;
  background: -webkit-linear-gradient(left, #fff, #006200 20%, #006200 80%, #fff);
}

#details {
  background: white;
  border: 1px solid #dedede;
  position: absolute;
  bottom: 50px;
  right: 10px;
  height: 130px;
  width: 300px;
  font-size: 11px;
  line-height: 11px;
  padding: 10px;
}