

#map-container { 
  background: #fff;
  width: 800px;
  height: 580px;
  position: absolute;
  top: 80px;
  right: 0px;
}

#map {
  border: 0px solid #dedede;
  background: #fff;
  height: 100%;
  z-index: 0;
}

#title {
  height: 40px;
  width: 200px;
  position: absolute;
  top: 155px;
  left: 100px;
  text-align: center;
}

#title h5 {
  margin: 0px;
}

#pollution-menu {
  position: absolute;
  top: 45px;
  left: 250px;
  height: 30px;
  width: 300px;
  text-align: center;
}

#pollution-menu form {
  margin-top: 2px;
}

#map-intro {
  position: absolute;
  top: 45px;
  left: 10px;
  height: 30px;
  width: 160px;
  text-align: left;
}

#map-intro p {
  font-size: 11px;
  line-height: 14px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

#data-source {
  position: absolute;
  top: 45px;
  right: 10px;
  height: 30px;
  width: 160px;
  text-align: right;
}

#data-source p {
  font-size: 11px;
  line-height: 14px;
  padding: 0px 0px 0px 5px;
  margin: 0;
}

#pie {
  position: absolute;
  top: 200px;
  left: 10px;
  height: 190px;
  width: 340px;
  z-index: 5;
}

#pie .chart {
  width: 200px;
  height: 100%;
  float: left;
}

#pie .hoverbox {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  left: 20px;
  top: auto;
  right: auto;
  text-align: center;
  background: #fff;
  color: #333;
  padding: 0px 5px 0px 5px;
  display: block;
}

#pie .legend {
  width: 160px;
  height: 100px;
  position: absolute;
  right: 0;
}

#pie .note {
  position: absolute;
  right: 0;
  top: 100px;
  width: 150px;
  height: 90px;
  font-size: 11px;
  color: #9f9f9f;
  line-height: 11px;
}

#source-menu {
  position: absolute;
  top: 395px;
  left: 10px;
  width: 400px;
  height: 50px;
}

#source-menu .menu-label {
  font-size: 14px;
  width: 180px;
  float: left;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

#source-menu .menu {
  width: 200px;
  float: left;
}

#source-menu select {
  font-size: 16px;
}

#line {
  position: absolute;
  bottom: 50px;
  left: 10px;
  height: 215px;
  width: 440px;
  font-size: 11px;
  background: white;
  padding: 5px 5px;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#line .title {
  height: 40px;
  margin-left: 50px;
  line-height: 15px;
  font-size: 14px;
}

#line .title h5 {
  margin : 0;
}

#line .chart {
  margin-top: 0px;
  width: 100%;
  height: 160px;
  float: right;
}

#line .legend {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 400px;
}

#line .legend .legend-item {
  float: right;
  width: 150px;
}

.sample {
  height: 2px;
  width: 40px;
  margin-top: 9px;
  margin-right: 5px;
  float: left;
}
.sample.primary {
  background: #d80000;
  background: -webkit-linear-gradient(left, #fff, #d80000 20%, #d80000 80%, #fff);
}
.sample.secondary {
  background: #006200;
  background: -webkit-linear-gradient(left, #fff, #006200 20%, #006200 80%, #fff);
}

#details {
  background: white;
  border: 1px solid #dedede;
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 300px;
  font-size: 11px;
  line-height: 11px;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}