#map { 
  height: 480px; 
}

header {
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #006200;
  stroke-width: 1.5px;
}

.line.secondary {
  stroke: red;
}