body {

}

.wrapper {

}

.header {
  margin-top: 50px;
  margin-left: 170px;
  color: white;
}

.dashboard {
  margin: 50px auto;
  border: 1px solid #dedede;
  height: 660px;
  width:780px;
  background: #fff;
  position: relative;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  height: 30px;
  border-bottom: 1px solid #dedede;
}

.title h4 {
  line-height: 20px;
  margin-left: 10px;
}

.inner {
  height: 100%;
  width: 100%;
  background: #f7f7f7;
  border: 1px solid #dedede;
}

#menu {
  /*background: #FFB318;*/
  width: 310px;
  height: 295px;
  position: absolute;
  top: 50px;
  left: 10px;
}

#menu .inner .accordion {
  margin: 10px;
  background: white;
  font-size: 12px;
}

#map-container { 
  /*background: #E81645;*/
  width: 440px;
  height: 295px;
  position: absolute;
  top: 50px;
  right: 10px;
}

#res {
  width: 500px;
  height: 295px;
  position: absolute;
  top: 355px;
  right: 10px;
  font: 10px sans-serif;
}

#line-chart h4 {
  margin: 0px;
  padding: 10px;
}

#notes {
  /*background: #16E889;*/
  width: 250px;
  height: 295px;
  position: absolute;
  top: 355px;
  left: 10px;
}

header {
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

body {
}

svg {
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #006200;
  stroke-width: 1.5px;
}

.line.secondary {
  stroke: red;
}