body {
  background: #fff;
}

.dashboard {
  margin: 50px auto;
  border: 1px solid #dedede;
  height: 700px;
  width:780px;
  background: #fff;
  position: relative;
}

.header {
  height: 39px;
  background: #f7f7f7;
  border-bottom: 1px solid #dedede;
  position: absolute;
  top: 0;
  width: 100%;
}

.header a {
  float: right;
}

.header h4 {
  line-height: 20px;
  margin-left: 10px;

}

.footer {
  height: 39px;
  width: 100%;
  background: #f7f7f7;
  border-top: 1px solid #dedede;
  position: absolute;
  bottom: 0;
}

.footer p {
  margin-top: 8px;
  margin-right: 8px;
  float: right;
  font-size: 12px;
}

.inner {
  height: 293px;
  background: #f7f7f7;
  border: 1px solid #dedede;
}

#menu {
  /*background: #FFB318;*/
  width: 310px;
  height: 295px;
  position: absolute;
  top: 50px;
  left: 10px;
}

#menu .inner .accordion {
  margin: 10px;
  background: white;
  font-size: 12px;
}

#map-container { 
  /*background: #E81645;*/
  width: 440px;
  height: 295px;
  position: absolute;
  top: 50px;
  right: 10px;
}

#res {
  width: 500px;
  height: 295px;
  position: absolute;
  top: 355px;
  right: 10px;
  font: 10px sans-serif;
}

#line-chart {
  background: white;
}

#line-chart .title {
  height: 29px;
  background: #f7f7f7;
  border-bottom: 1px solid #dedede;
}
#line-chart h5 {
  margin: 0px;
  padding: 5px 0 5px 10px;
}

#notes {
  /*background: #16E889;*/
  width: 250px;
  height: 295px;
  position: absolute;
  top: 355px;
  left: 10px;
}

.def {
  padding: 10px;
  font-size: 10px;
}

.def h6 {
  margin: 0px;
}

.def p {
  line-height: 14px;
}

header {
  text-align: center;
}

.row {
  margin-bottom: 20px;
}
.hoverbox {
  width: 100px;
  height: 20px;
  font-size: 10px;
  position: absolute;
  left: 60px;
  top: 50px;
  display: none;
}

svg {
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #006200;
  stroke-width: 2px;
}

.line.secondary {
  stroke: #d80000;
}

line.tick {
  stroke: #e7e7e7;
}
path.domain {
  stroke: #e7e7e7;
}

.dot {
  fill: #009500;
  stroke: #333;
  stroke-width: 1;
}

.dot.secondary {
  fill: #d80000;
}