<div class="header">
  <h4>{{ title }}</h4>
</div>
<div id="map-container">
  <div class="inner" id="map"></div>
</div>
<div id="title"></div>
<div id="map-intro">
  <p>Click map to select a basin.</p>
  <p>Click <a class="state">here</a> for statewide data.</p>
</div>
<div id="pollution-menu"></div>
<div id="layer-menu"></div>
<div id="pie">
  <div class="chart"></div>
  <div class="note">
    <p>* Forests naturally contribute a small amount of nutrients and sediment to the Bay, but are not considered to be a pollution source.</p>
  </div>
</div>
<div id="source-menu"></div>
<div id="line">
  <div class="title"></div>
  <div class="chart"></div>
  <div class="legend">
    <div class="legend-item"><div class="sample primary"></div><p>Pollution Over Time</p></div>
    <div class="legend-item">
      <div class="sample secondary"></div>
      <select id="goal-menu">
        <option value="milestone2017">Goal 2017</option>
        <option value="milestone2025">Goal 2025</option>
        <option value="milestone2017,milestone2025">2017+2025</option>
      </select>
    </div>
  </div>
</div>
<div id="details"></div>
<div class="footer">
  <img src="img/favicon.png" /><p>Powered by open data on <a href="https://data.maryland.gov/browse?tags=baystat" target="_blank">https://data.maryland.gov/</a></p>
</div>