<div class="header">
  <h4>{{ title }}</h4>
</div>
<div id="map-container">
  <div class="inner" id="map"></div>
</div>
<div id="title"></div>
<div id="map-intro">
  <p>Click map to select a basin.</p>
  <p>Click <a class="state">here</a> for statewide data.</p>
</div>
<div id="pollution-menu"></div>
<div id="data-source">
  <p>Data source:  EPA Phase 5.3.2 Watershed Model</p>
</div>
<div id="pie">
  <div class="chart"><div class="hoverbox"></div></div>
  <div class="legend"></div>
  <div class="note">
    <p>* Forests naturally contribute a small amount of nutrients and sediment to the Bay, but are not considered to be a pollution source.</p>
  </div>
</div>
<div id="source-menu"></div>
<div id="line">
  <div class="title"></div>
  <div class="chart"></div>
  <div class="legend">
    <div class="legend-item"><div class="sample primary"></div><p>Pollution Over Time</p></div>
    <div class="legend-item"><div class="sample secondary"></div><p>TMDL Goal (2017)</p></div>
  </div>
</div>
<div id="details"></div>
<div class="footer">
  <img src="img/favicon.png" /><p>Powered by open data on <a href="https://data.maryland.gov/profile/ESRGC/2ryv-bq8b?q=baystat%20%2B%20causes" target="_blank">https://data.maryland.gov/</a></p>
</div>