<div class="header">
  <h4>{{ title }}</h4>
</div>
<div id="intro">
  <p>Maryland can only restore the health of the Bay by implementing proven solutions called Best Management Practices (BMPs) on the most lands.</p>
</div>
<div id="map-container">
  <div class="inner" id="map"></div>
</div>
<div id="menu">
  <div class="inner"></div>
</div>
<div id="map-intro">
  <div class="pull-left">
    <p>Click map to select a basin.</p>
    <p>Click <a class="state">here</a> for statewide data.</p>
  </div>
  <div class="loader">
    <i class="icon-refresh icon-spin icon-2x"></i>
  </div>
</div>
<div id="pie">
  <div class="title">2012-2013 nitrogen reductions are planned for the following sources (preliminary estimate):</div>
  <div class="chart">
    <div class="hoverbox"></div>
  </div>
  <div class="hover-box"></div>
  <div class="legend"></div>
</div>
<div id="res" class="panel">
  <div class="inner" id="line-chart">
    <div class="panel-heading"></div>
    <div class="chart">
      <div class="legend-container">
        <div class="units"></div>
        <div class="legend">
          <div class="legend-item"><div class="sample primary"></div><p>Progress</p></div>
          <div class="legend-item"><div class="sample secondary"></div><p>2013 Goal</p></div>
        </div>
      </div>
      <div class="rednote"></div>
      <div class="overlay"></div>
    </div>
  </div>
</div>
<div id="notes">
  <div class="inner">
    <div class="def panel">
      <div class="panel-heading">
        <h6>Definition</h6>
      </div>
      <div class="content"></div>
    </div>
    <div class="notes panel">
      <div class="panel-heading">
        <h6>Notes</h6>
      </div>
      <div class="content"></div>
    </div>
  </div>
</div>
<div class="footer">
  <img src="img/favicon.png" /><p>Powered by open data on <a href="https://data.maryland.gov/">https://data.maryland.gov/</a></p>
</div>