<div class="header">
  <h4>{{ title }}</h4>
</div>
<div id="intro">
  <p>Maryland can only restore the health of the Bay by implementing proven solutions called <strong>Best Management Practices</strong> (BMPs) on the most lands.</p>
</div>
<div id="map-container">
  <div class="inner" id="map"></div>
</div>
<div id="menu">
  <div class="inner"></div>
</div>
<div id="map-intro">
  <div class="pull-right">
    <p>Click map to select a basin.</br>
    Click <a class="state">here</a> for statewide data.</p>
  </div>
  <div class="loader">
    <i class="icon-refresh icon-spin icon-2x"></i>
  </div>
</div>
<div id="pie">
  <div class="title">Percentage of 2014-2015 Nitrogen reductions contributed by the three major sectors.<br><br>See <a href="http://baystat.maryland.gov/solutions/" target="_blank">Solutions front page</a> for more information.</div>
  <div class="chart"></div>
</div>
<div id="res" class="panel">
  <div class="inner" id="line-chart">
    <div class="panel-heading"></div>
    <div class="legend-container">
      <div class="units"></div>
      <div class="legend">
        <div class="legend-item"><div class="sample primary"></div><p>Progress</p></div>
        <div class="legend-item"><div class="sample secondary"></div><p>2015 Goal</p></div>
      </div>
    </div>
    <div class="chart"></div>
    <div class="rednote"></div>
    <div class="overlay"></div>
  </div>
</div>
<div id="notes">
  <div class="inner">
    <div class="def panel">
      <div class="panel-heading">
        <h6>Definition</h6>
      </div>
      <div class="content"></div>
    </div>
    <div class="notes panel">
      <div class="panel-heading">
        <h6>Notes</h6>
      </div>
      <div class="content"></div>
    </div>
  </div>
</div>
<div class="footer">
  <img src="img/favicon.png" /><p>Powered by open data on <a href="https://data.maryland.gov/browse?tags=baystat" target="_blank">https://data.maryland.gov/</a></p>
</div>