<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Implement Best Farming Practices<i class="icon-collapse-alt"></i>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="list-group">
          <a class="stat active list-group-item">Cover Crops</a>
          <a class="stat list-group-item">Soil Conservation & Water Quality Plans</a>
          <a class="stat list-group-item">Stream Protection</a>
          <a class="stat list-group-item">Manure Management Structures</a>
          <a class="stat list-group-item">Natural Filters on Private Land</a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Reducing Pollution From Urban Areas<i class="icon-collapse-alt"></i>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="list-group">
          <a href="#" class="stat list-group-item">Wastewater Treatment Plants ENR</a>
          <a href="#" class="stat list-group-item">Stormwater Runoff Management Retrofits</a>
          <a href="#" class="stat list-group-item">Septic Retrofits</a>
          <a href="#" class="stat list-group-item">Air Pollution Reductions</a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Public Land Resoration and Conservation<i class="icon-collapse-alt"></i>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="list-group">
          <a href="#" class="stat list-group-item">Natural Filters on Public Land</a>
          <a href="#" class="stat list-group-item">Program Open Space</a>
          <a href="#" class="stat list-group-item">CREP Permanent Easements</a>
          <a href="#" class="stat list-group-item">Rural Legacy</a>
          <a href="#" class="stat list-group-item">Maryland Environmental Trust</a>
          <a href="#" class="stat list-group-item">Maryland Agricultural Land Preservation</a>
        </div>
      </div>
    </div>
  </div>
</div>