<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Implement Best Farming Practices
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul>
          <li><a class="stat active">Cover Crops</a></li>
          <li><a class="stat">Soil Conservation & Water Quality Plans</a></li>
          <li><a class="stat">Stream Protection</a></li>
          <li><a class="stat">Manure Management Structures</a></li>
          <li><a class="stat">Natural Filters on Private Land</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Reducing Pollution From Urban Areas
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li><a href="#" class="stat">Wastewater Treatment Plants ENR</a></li>
          <li><a href="#" class="stat">Stormwater Runoff Management Retrofits</a></li>
          <li><a href="#" class="stat">Septic Retrofits</a></li>
          <li><a href="#" class="stat">Air Pollution Reductions</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Public Land Resoration and Conservation
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li><a href="#" class="stat">Natural Filters on Public Land</a></li>
          <li><a href="#" class="stat">Program Open Space</a></li>
          <li><a href="#" class="stat">CREP Permanent Easements</a></li>
          <li><a href="#" class="stat">Rural Legacy</a></li>
          <li><a href="#" class="stat">Maryland Environmental Trust</a></li>
          <li><a href="#" class="stat">Maryland Agricultural Land Preservation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>