<form class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-5 control-label" for="source">Pollution Source: </label>
    <div class="col-lg-7">
      <select id="source">
        {{#each sourcelist}}
          <option>{{ this }}</option>
        {{/each}}
      </select>
    </div>
  </div>
</form>